<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>个人中心</title>
    <link href="/css/bootstrap.css" rel="stylesheet">
    <style>
        body{background-color: 	#F0F8FF}
    </style>
</head>
<body>

<div class="container page-header" style="text-align: center">

    <h2><span class="glyphicon glyphicon-plus"></span>用户个人中心</h2>
    <nav class="navbar navbar-pills">
        <ul class="nav nav-pills">
            <li role="presentation" class="active"><a href="/toIndex">首页</a></li>
            <li role="presentation" class="active"><a th:href="@{/toMyTopic(uId=${UserInfo.uId})}">我的帖子</a></li>
            <li role="presentation" class="active"><a th:href="@{/layui/toLayui}">Layui测试</a></li>
        </ul>
    </nav>
</div>
<div class="container">
    <div id="msg"  class="alert alert-warning">
        <span th:text="${msg}"></span>
    </div>
    <div>
        <table class="table">
            <form name="updateForm" action="/updateUser" onSubmit="return check()" method="post">
                <input type="hidden" id="uId" name="uId" th:value="${UserInfo?.uId}"/>
                <tr>
                    <th>
                        信息项
                    </th>
                    <th>
                        信息内容
                    </th>
                </tr>
                <tr>
                    <td>
                        用户名
                    </td>
                    <td>
                        <input   class="form-control"  type="text" id="uName" name="uName" th:value="${UserInfo?.uName}" style="width: 80%"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        密码
                    </td>
                    <td>
                        <input class="form-control" type="password" id="uPass" name="uPass" th:value="${UserInfo?.uPass}" style="width: 80%"/>
                    </td>
                </tr>

                <tr>
                    <td>
                        性别
                    </td>
                    <td>
                        <select id="gender" name="gender" class="form-control select" style="width: 80%">
                           <span th:if="${UserInfo.gender}== 0">
                               <option value="1">男</option>
                               <option value="0" checked="checked">女</option>
                            </span>
                            <span th:if="${UserInfo.gender}== 1">
                                <option value="1" checked="checked">男</option>
                                <option value="0">女</option>
                            </span>
                        </select>
                    </td>
                </tr>
                <tr>
                <tr>
                    <td>输入密码修改信息</td>
                    <td><input type="password" class="form-control" name="uPass2" style="width: 80%"></td>
                </tr>
                <td></td>
                <td><input type="submit" value="修改"></td>
                </tr>
            </form>
        </table>
    </div>
    <div style="text-align: center;margin-top: 60px;">
        <strong>2020 BaiYun 版权所有</strong>
    </div>

</div>


<script src="/js/jquery-3.3.1.min.js"></script>
<script src="/js/bootstrap.js"></script>
<script>

    //定义check函数，验证表单
    function check() {
        if (document.updateForm.uName.value == "") {
            alert("用户名不可为空");
            return false;
        }
        if (document.updateForm.uPass.value == "") {
            alert("密码不可为空");
            return false;
        }

        if (([[${UserInfo.uPass}]])!=(document.updateForm.uPass2.value)) {
            alert("密码错误");
            return false;
        }

    }

</script>
</body>
</html>